{% extends "rango/base.html" %}
{% load i18n %}

<html>
        {% block body_block %}

{% block userlinks %}



{% url 'django-admindocs-docroot' as docsroot %}
{% if docsroot %}
<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Additional Options' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">

<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>&rsaquo; {% trans 'Return to Homepage' %}
</div>

{% endblock %}

{% block content_title %}
<h4>{{ title }}</h4>
{% endblock %}

{% block content %}
<p>{% trans 'Your password was changed.' %}</p>

{% endblock %}

{% endblock %}

</html>