<!DOCTYPE html>
<html>
    <head>
        <title>Rango - Category</title>
    </head>

    <body>
        {% if category %}
        <h1>{{ category_name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}

        <h4>Useful Links for U</h4>   
        <div> <!-- Footer Notes and Links -->
            {% if user.is_authenticated %}
            <a href="/rango/add_category/">Add a New Category</a><br />
                {% if category %}
            <a href="/rango/category/{{category.slug}}/add_page/">Add Page</a> <br/>
                {% endif %}

            {% else %}
            
            <a href="/rango/login/">Login</a><br /> 
            {% endif%}
            
            <a href="/rango/">Index</a><br />
        
        </div>
    </body>
</html>