<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>

    {% block title_block %}
		Index
	{% endblock %}

    <body>
        {% if user.is_authenticated %}
        <h2>The Rango says...Oh Hey there logged in Partner :) {{ user.username }}!</h2>
        {% else %}
        <h2>The Rango says...Hello World!</h2>
        {% endif %}

        <h3>Most Liked Categories</h3>
        <div>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
            <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>
        
        </div> <!-- This is not working but I think there is a section to come called Pill Badge which will fix -->
        <div class="col-lg-6">
            <h4>Most Viewed Pages</h4>
            <p>
            {% if pages %}
            <ul class="list-group">
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
             </ul>
            {% else %}
            <strong>There are no categories present.</strong>
         {% endif %}
         </p>
        </div>

        <h4>Useful Links for U</h4>   
        <div> <!-- Footer Notes and Links -->
            {% if user.is_authenticated %}
            <a href="/rango/restricted/">Restricted Page</a><br />
            <a href="/rango/logout/">Logout</a><br />
            <a href="/rango/add_category/">Add a New Category</a><br />
            {% else %}
            <a href="/rango/register/">Register Here</a><br /> 
            <a href="/rango/login/">Login</a><br /> 
            {% endif%}
            
            <a href="/rango/about/">About Rango</a><br /> 
            <img src="{% static "images/77_2.jpg" %}" alt="Picture of Rango" /> 
        
        </div>
    </body>



</html>
