<!DOCTYPE html>
{% extends "rango/base.html" %}
{% load static %}
{% load staticfiles %}

<html>
        
    {% block body_block %}

        <h2>Index - HomePage</h2>

        {% if user.is_authenticated %}
        <h4>The Rango says...Oh Hey there logged in Partner <strong>:)</strong> {{ user.username }}!</h4>
        {% else %}
        <h4>The Rango says...Hello World!</h4>
        {% endif %}

        <h3>Most Liked Categories</h3>
        <div>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>
        
        </div> <!-- This is not working but I think there is a section to come called Pill Badge which will fix -->
        <div class="col-lg-6">
            <h4>Most Viewed Pages</h4>
            <p>
            {% if pages %}
            <ul class="list-group">
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
             </ul>
            {% else %}
            <strong>There are no categories present.</strong>
         {% endif %}
         </p>
        </div>

        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
    {% endblock %}

</html>
