<!--<!DOCTYPE html>
{% extends "rango/base.html" %}
 Removed as Part of the Django Registration Redux - can be deleted

 <html>
    
    {% block body_block %}

        <h2>Register with Rango</h2>

        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="/rango/">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/rango/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
        
    {% endblock %}
</html>
-->
